body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-size: cover;
}


a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-100 {
  font-weight: 100;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.color-green {
  color: #5fa32e;
}

.color-gray {
  color: #747575
}
.header {
  background-image: url(./images/header_bg.png);
  background-size: 100% 100%;

}

.header-container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 10px;
}

.logo {
  float: left;
}

.brand-image {
  height: 52px;
}

.telno-and-navbar {
  float: right;
  padding-bottom: 10px;
}

.telno {
  float: right;
  font-size: 24px;
  padding: 0 10px;
}

.navbar {
  float: right;
  margin: 0;
  padding: 10px 0px;
}


.navbar li {
  display: inline-block;
  padding-right: 10px;
}

.navbar a {
  color: white;
}

.hamburger {
  display: none;
}

.banner-desktop-view {
  background-image: url(./images/body_bg.jpg);
  background-size: 100% 100%;
}

.banner-mobile-view {
  display: none;
}

.banner-container {
  width: 1200px;
  margin: 0 auto;
}

.banner-text {
  width: 70%;
  float: left;
}

.banner-text h1 {
  width: 50%;
  padding-top: 150px;
  padding-bottom: 360px;
}

.banner-text span {
  font-size: 14px;
}

.download-form-segment {
  position: relative;
  float: right;
  width: 30%;
}

.download-form-segment img {
  float: right;
  height: 680px;
}

.download-form {
  position: absolute;
}

.download-form-container {
  width: 80%;
  margin: 0 auto;
}

.company-logo {
  padding: 0 10px;
}

.company-logo img {
  height: 48px;
  float: left;
  padding-right: 15px;
}

.company-logo p {
  padding-top: 15px;
  font-size: 24px;

}

.branding-statement {
  text-align: center;
  padding-bottom: 20px;
  font-size: 14px;
}

.download-guide-container {
  margin-top: 15px;
}

.download-guide {
  background-color: #151617;
  padding: 20px;
}

.download-guide-tex {
  width: 100px;
  float: left;
  font-size: 21px;
}

.download-guide img {
  height: 42px;
  float: right;
}

.download-form-container form {
  padding-bottom: 10px;
}

.download-form form input,
label {
  display: block;
}

.download-form form input {
  font-size: 16px;
  width: 100%;
}

.download-form-mobile {
  display: none;
}

.privacy-matters-statement {
  font-size: 14px;
  text-align: center;
}

.about-section {
  background-color: #5fa32e;
  padding-top: 30px;
}

.about-section-container {
  width: 1200px;
  margin: 0 auto;
}

.section-heading-and-logo {
  padding-bottom: 20px;
}

.section-heading-and-logo .heading, .heading-2 {
  font-size: 32px;
  float: left;
  width: 45%;
  padding-top: 10px;
}

.section-heading-and-logo .company-logo {
  float: right;
  width: 35%;
  padding-left: 230px;
  font-size: 30px;
}

.section-heading-and-logo .company-logo span {
  position: relative;
  top: 8px;
}

.section-heading-and-logo .company-logo img {
  height: 48px;
}

.about-section-top, .about-section-bottom {
  margin: 10px;
  padding-bottom: 30px;
}

.about-section-bottom {
  vertical-align: bottom;
}

.about-section-top div, .about-section-bottom div {
  width: 30%;
  height: auto;
  padding: 0 20px 0px 0;
  display: inline-block;
  vertical-align: top;
}

.importance img {
  height: 48px;
}

.about-section-top img , .about-section-bottom img {
  padding-left: 140px;
}

.clients-statement-container {
  width: 1200px;
  margin: 0 auto;
}

.clients-statement .heading-2{
  color: #5fa32e;
  width: 45%;
  float: left;
}

.company-logo-alt {
  float: right;
  padding-right: 100px;
}

.company-logo-alt-mobile {
  display: none;
}

.clients-statement-top div {
  display: inline-block;
  padding-right: 30px;
  width: 30%;
  text-align: center;
}

.clients-statement-top {
  padding-bottom: 80px;
}

.clients-statement-top div h4{
  margin: 3px;
}

.client-image {
  padding-bottom: 20px;
}

.clients-statement-bottom div{
  display: inline-block;
}

.pictures {
  width: 60%;
}

.download-guide-button-2 {
  width: 38%;
  position: relative;
}

.download-guide-button-2-text {
  position: absolute;
  color: white;
  top: 120px;
  left: 80px;
  font-size: 31px;
}

.download-guide-button-2 {
  background-image: url(./images/container_bg_alt.png);
  background-size: 100% 100%;
  padding: 100px 0px 20px 0px ;
  font-size: 34px;
}

.download-guide-button-2 span {
  padding-left: 100px;
  padding-right: 100px;
}

.download-guide-button-2 img {
  height: 48px;
  position: absolute;
  top: 115px;
}

.footer {
  background-image: url(./images/footer.png);
  background-size: 100% 100%;
}

.footer-container {
  width: 1200px;
  margin: 0 auto;
  padding: 40px 0 20px 0;
}

@media screen and (max-width: 1456px) {

  body {
    width: 1455px;
  }

  body div {
    background-size: cover;
  }
}

@media screen and (max-width: 576px) {
  body {
    width: 575px;
  }

  body div {
    background-size: cover;
  }

  .telno-and-navbar {
    display: none;
  }

  .header-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .hamburger {
    display: inline-block;
    width: 20%;
    text-align: right;

  }

  .hamburger img {
    height: 50px;
    padding: 10px;
  }

  .logo {
    position: relative;
    display: inline-block;
    width: 75%;
    padding: 10px;
  }

  .banner-desktop-view {
    display: none;
  }

  .banner-mobile-view {
    display: block;
    position: relative;
  }

  .banner-mobile img {
    width: 575px;
    height: 600px;
    object-fit: cover;
    object-position: 9% 10%;
  }

  .banner-text-mobile {
    position: absolute;
    text-align: center;
  }

  .banner-text-mobile h1 {
    padding: 120px 0 360px 0;
    width: 80%;
    margin: 0 auto;
  }

  .download-form-mobile {
    display: block;
  }

  .download-form-mobile {
    background-image: url(./images/container_bg_2.png);
    background-size: 100% 100%;
    height: 870px;
  }

  .download-form-container-mobile {
    width: 65%;
    margin: 0 auto;
    padding-top: 20px;

  }

  .logo-and-brand-statement-mobile {
    padding-top: 20px;
  }

  .company-logo-mobile {
    padding-top: 20px;
  }

  .company-logo-mobile img {
    float: left;
    height: 52px;
  }

  .company-logo-mobile h1 {
    float: right;
    margin: 0;
    padding-top: 8px;
  }

  .brand-statement-mobile {
    text-align: center;
    padding-top: 20px;
  }

  .download-guide-form-mobile {
    padding-top: 20px;
  }

  .download-guide-form-mobile label,
  input {
    width: 100%;
    padding-top: 15px;

  }

  .download-guide-button-mobile {
    padding-top: 30px;
  }

  .download-guide-button-container-mobile {
    padding: 40px;
    background-color: #151617;
  }

  .download-guide-text-moble {
    width: 80px;
    float: left;
    font-size: 28px;
  }

  .download-guide-button-container-mobile img {
    float: right;
  }

  .privacy-matters-statement-mobile {
    font-size: 14;
    text-align: center;
    padding-top: 30px;
  }

  .about-section-container {
    width: 100%;
  }

  .section-heading-and-logo .heading {
    width: 10%;
    float: left;
    padding-left: 20px;
  }

  .section-heading-and-logo .heading-2 {
    width: 50%;
  }

  .section-heading-and-logo {
    width: 90%;
    margin: 0 auto;
  }

  .section-heading-and-logo .company-logo {
    width: 10%;
  }

  .section-heading-and-logo .company-logo span {
    display: none;
  }

  .about-section-top div, .about-section-bottom div{
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    display: block;
  }

  .about-section-top {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .clients-statement-container {
    width: 100%;
  }

  .company-logo-alt {
    display: none;
  }

  .company-logo-alt-mobile {
    display: block;
    float: right;
  }

  .clients-statement-top div {
    display: block;
    width: 60%;
    padding: 20px ;
    margin: 0 auto;
  }
  .clients-statement-bottom div {
    display: block;
    width: 100%;
  }
  .pictures {
    text-align: center;
  }

  .download-guide-button-2 span {
    padding-left: 120px;
    padding-right: 150px;
  }

  .footer-container{
    width: 100%;
    text-align: center;
  }


}