body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    ;
}

body div {
    width: 100vw;
    background-size: cover;
}

a {
    text-decoration: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.fw-700 {
    font-weight: 700;
}

.fw-100 {
    font-weight: 100;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.header {
    background-image: url(./images/header_bg.png);
    background-size: 100% 100%;

}

.header-container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
}

.logo {
    float: left;
    width: 500px;
}

.brand-image {
    height: 52px;
}

.telno-and-navbar {
    float: right;
    vertical-align: top;
    width: 500px;
    padding-bottom: 10px;
}

.telno {
    float: right;
    font-size: 24px;
    padding: 0 10px;
}

.navbar {
    float: right;
    list-style: none;
    margin: 0;
    padding: 10px 0px;
}


.navbar li {
    display: inline-block;
    padding-right: 10px;
}

.navbar a {
    color: white;
}

.hamburger {
    display: none;
}

.banner-desktop-view {
    background-image: url(./images/body_bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.banner-mobile-view {
    display: none;
}

.banner-container {
    width: 1200px;
    margin: 0 auto;
}

.banner-text {
    width: 70%;
    float: left;
}

.banner-text h1 {
    width: 50%;
    padding-top: 100px;
    padding-bottom: 410px;
}

.banner-text span {
    font-size: 14px;
}

.download-form-container {
    position: relative;
    float: right;
    width: 30%;
}

.download-form-container img {
    float: right;
    height: 680px;
}

.download-form {
    position: absolute;
    margin: 0 auto;
    width: 300px;
    left: 35px;
}

.company-logo {
    width: 300px;
    padding: 0 15px;
}

.company-logo img {
    height: 48px;
    float: left;
    padding-right: 15px;
}

.company-logo p {
    padding-top: 15px;
    font-size: 24px;

}

.branding-statement {
    text-align: center;
    width: 300px;
    padding-bottom: 20px;
    font-size: 14px;
}

.download-guide-container {
    margin-top: 15px;
    width: 300px;
}

.download-guide {
    width: 225px;
    margin: 0 auto;
    background-color: #151617;
    height: 40px;
    padding: 20px;
}

.download-guide-tex {
    width: 100px;
    float: left;
}

.download-guide img {
    height: 42px;
    float: right;
}

.download-form form {
    padding: 0 15px;
    padding-bottom: 10px;
}

.download-form form input,
label {
    display: block;
}

.download-form form input {
    font-size: 16px;
    width: 260px;
}

.privacy-matters-statement{
    width: 260px;
    font-size: 14px;
    text-align: center;
    padding-left: 15px;
}
@media screen and (max-width: 1250px) {

    body {
        width: 1250px;
    }

    body div {
        width: 1250px;
    }
}

@media screen and (max-width: 576px) {
    body {
        width: 575px;
    }

    body div {
        width: 575px;
    }

    .telno-and-navbar {
        display: none;
    }

    .header-container {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .hamburger {
        display: inline-block;
        width: 20%;
        text-align: right;
        
    }

    .hamburger img {
        height: 50px;
        padding: 10px;
    }

    .logo {
        position: relative;
        display: inline-block;
        width: 75%;
        padding: 10px;
    }

    .banner-desktop-view {
        display: none;
    }

    .banner-mobile-view {
        display: block;
        width: 575px;
    }
    
    .banner img{
        width: 575px;
        height: 600px;
        object-fit: cover;
        object-position: 5% 30%;
    }

}